<div id="container">


<mat-card  id="first-card">
  <mat-card-title>TODO List</mat-card-title>
  <mat-list>
    <mat-list-item role="listitem" *ngFor="let line of listShow">
      <div id="attribute" >{{ line.name }}</div>
      <div id="attribute">{{ line.date }}</div>
      <div id="attribute">{{ line.done }}</div>
      <button class="boton" mat-raised-button color="accent" (click)="leer(line.id)">Read</button>
      <button class="boton" mat-raised-button color="accent" (click)="borrar(line.id)">
        Delete
      </button>
      <button class="boton" mat-raised-button color="accent" (click)="update(line.id)">
        Update
      </button>
    </mat-list-item>
  </mat-list>

<br>
<button
id="create"
mat-raised-button color="accent"
  routerLink="/create"
  routerLinkActive="active"
>
  Create
</button>
</mat-card >

<mat-card id="second-card">
  <router-outlet></router-outlet>
</mat-card>
</div>