<mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput placeholder="Nombre" [(ngModel)]="objectReaded.name">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Fecha</mat-label>
    <input matInput placeholder="Fecha" [(ngModel)]="objectReaded.date">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Acabado</mat-label>
    <input matInput placeholder="Acabado" [(ngModel)]="objectReaded.done" >
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Descripción</mat-label>
    <textarea matInput [(ngModel)]="objectReaded.description" placeholder="Descripción" ></textarea>
  </mat-form-field>
  <br>
  <button mat-raised-button color="accent" (click)="update()">Update</button>
